.typeWriterTitle::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.typeWriterTitle {
    color: var(--gray-1);
    line-height: 2.5rem;
    font-weight: normal;
    font-size: 2rem;
    max-width: 50%;
}

@media(max-width: 959px) {
    .typeWriterTitle {
        max-width: 100%;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
