.landingContainer {
    padding: 0 160px;
}

.typewriter {
    padding-bottom: 8rem;
}

.introductionSection {
    padding-top: 6rem;
}

.introductionParagraph {
    margin-top: 1.5rem;
    position: relative;
    max-width: 500px;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.introductionParagraphEmphasis {
    font-weight: 600;
}

.introductionKnownMore {
    margin-top: 2rem;
}

.presentation {
    display: inline-block;
}

.orangePattern {
    position: absolute;
    top: 5rem;
    right: 0;
}

.pinkPattern {
    position: absolute;
    right: -5rem;
    top: 40%;
    height: 70%;
}

@media (max-width: 1200px) {
    .typewriter {
        padding-bottom: 9rem;
    }
}

@media (max-width: 959px) {
    .typewriter {
        padding-bottom: 7.5rem;
    }

    .landingContainer {
        padding: .7rem 1rem;
    }

    .introductionSection {
        padding-top: 1rem;
    }

    .pinkPattern {
        right: -2rem;
    }
}
