.landingContainer {
    padding: 0 160px;
}

.typewriter {
    padding-bottom: 8rem;
}

.introductionSection {
    padding-top: 6rem;
}

.introductionParagraph {
    margin-top: 1.5rem;
    position: relative;
    max-width: 500px;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.introductionParagraphEmphasis {
    font-weight: 600;
}

.introductionKnownMore {
    margin-top: 2rem;
}

.presentation {
    display: inline-block;
}

.orangePattern {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: -1;
}

.pinkPattern {
    position: absolute;
    right: -5rem;
    top: 20rem;
    height: 45rem;
    /*top: 40%;*/
    /*height: 70%;*/
}

@media (max-width: 1300px) {
    .pinkPattern {
        top: 22rem;
        height: 45rem;
    }

    .typewriter {
        padding-bottom: 9rem;
    }
}

@media (max-width: 959px) {
    .typewriter {
        padding-bottom: 7.5rem;
    }

    .orangePattern {
        top: 1rem;
        right: -.5rem;
    }

    .pinkPattern {
        top: 15rem;
        height: 30rem;
    }

    .landingContainer {
        padding: .7rem 1rem;
    }

    .introductionSection {
        padding-top: 1rem;
    }

    .pinkPattern {
        right: -2rem;
    }
}
