.contentList {
    display: flex;
    padding: 4rem 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    max-width: 100%;
}

.contentListItems, .contentImage {
    transition: 100ms ease;
}

.contentListItems {
    cursor: pointer;
}

.contentImage:hover {
    filter: brightness(60%);
}

.contentImageNotSelected {
    opacity: .3;
    transform: scale(.7);
}

@media (max-width: 959px) {
    .contentList {
        padding: 2rem 0;
        flex-direction: column;
    }
}
