.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 5;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.content {
    background-color: var(--white);
    padding: 1.8rem;
    border-radius: 1rem;
    height: auto;
    width: 800px;
    overflow-x: hidden;
    max-width: 800px;
    box-shadow: 0 8px 32px 12px rgba(31 38 135 .6);
}

@media(max-width: 959px) {
    .logo {
        top: 1rem;
        left: 1rem;
    }

    .content {
        position: absolute;
        top: 6rem;
        width: 75%;
        height: 70%;
        overflow: auto;
    }
}
