.blogIntroduction {
    max-width: 800px;
    display: block;
    margin: 64px auto 64px auto;
}

.blogSubTitle {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
}

.banner {
    max-width: 70vw;
    max-height: 50vh;
    margin: 0 auto;
    display: block;
}

.codeImg {
    max-height: 300px;
    height: 220px;
    display: block;
    margin: 0 auto;
}

.codeSnippet {
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, .1);
}

@media (max-width: 959px) {
    .banner {
        max-width: 100%;
    }
}
