.pink-bg {
    background-color: var(--pink);
}

.pink-fg {
   color: var(--pink);
}

.orange-bg {
    background-color: var(--orange);
}

.purple {
    background-color: var(--purple);
}

.purple-fg {
    color: var(--purple);
}

.orange-fg {
   color: var(--orange);
}

.green {
    background-color: var(--green);
}

.green-fg {
    color: var(--green);
}

.green-accent {
    background-color: var(--green-accent);
}

.green-accent-fg {
    color: var(--green-accent);
}

.font-1 {
    color: var(--gray-1);
}

.font-2 {
    color: var(--gray-2);
}

.font-3 {
    color: var(--gray-3);
}

.font-4 {
    color: var(--gray-4);
}
