.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media(max-width: 959px) {
    .header {
        text-align: center;
    }
}
