.header {
    height: 80px;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
    box-shadow: 0 5px 13px -7px rgba(0, 0, 0, 0.15);
}

.nav {
    height: 100%;
    width: auto;
    padding: 0 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.links {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
}

.linksText {
    color: var(--purple);
}

.linksText:hover {
    filter: brightness(40%);
}

@media (max-width: 959px) {
    .header {
        height: 70px;
    }

    .nav {
        padding: 0 10px;
    }

    .linksMobile {
        flex-direction: column;
    }

    .listMobile {

    }
}
